.chatField {
  margin-bottom: 10px;
  border: solid 2px yellow;
  border-radius: 8px;
  box-shadow: 4px 4px 8px 0px rgba(202, 249, 0, 0.2);
  overflow: auto;
  height: 500px;
}

.ownMessage {
  display: flex;
  justify-content: flex-end;
}
