.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: solid 2px yellow;
  box-shadow: 4px 4px 8px 0px rgba(202, 249, 0, 0.2);
}

.title {
  font-family: "Moo Lah Lah", cursive;
  font-size: 32px;
  color: green;
}
